#root, body, html {
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    position: absolute;
    opacity: 0.5;
}
    a:hover {
        cursor: pointer;
    }

.content {
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
}

.image {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}

    .hidden-image {
        visibility: hidden;
        object-fit: contain;
        width: -webkit-fill-available;
    }

.modal-body, .modal-content {
    padding: 0px;
    margin: 0px;
    border: none;
    line-height: 0px;
}